  
<%- include('../templates/headerindex') -%>
<div class="row">
    <div class="col-md-2">
       <!-- <%- include('../templates/leftnav') -%> -->
    </div>
<div class="col-md-8">
    <center><h4 style="color:blue;"><%= title%></h4></center>
    <%= typeof msg !='undefined' ? msg: ''%>
    <div class="row">
        <form class="col s8" action="/controllers/addclass-controller" method="post">
            <center> <h6><%= hd %></h6></center>
            <div class="form-group">
                <label for="schoolcode">Schools:</label>
                <select class="form-control" id ="schoolcode" name="schoolcode">
                    <% for (var i=0; i<schools.length; i++){%>
                        <option value<%= schools[i].schoolcode %> > <%= schools[i].schoolname %> </option>
                        <% }%>
                </select>
          </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="classname" type="text" class="validate">
                    <label for="classname">Class Name</label>
                </div>
            </div>
            <button value="submit" class="btn">Save</button>
        </form>

    </div>
    <div class="col-md-2">
   <!--  <%- include('../templates/rightnav') -%> -->
    </div>
</div>
</div>
<div class="footer">
    <%- include ('../templates/footer'); -%>
</div>
