  
<%- include('../templates/headerindex') -%>
<div class="content">
    <div class="row">
 <div class="col-md-12">
  <center><h4>DASHBOARD | SUMMARY </h4></center>  
  </div>

<div class="col-md-3">
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Schools</span>
              <p>Registered: <span style="color:black; font-weight: bold;"><%- schools -%> </span> </p>
              <p>Active: <span style="color:black; font-weight: bold;"><%- schools -%> </span> </p>
            </div>
            <div class="card-action" style="font-size: small;">
              <a href="/schools">View More</a><br>
              <a href="/addschool">Add School</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-md-3">
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Companies</span>
              <p>Registered: <span style="color:black; font-weight:bold;"><%- companies -%> </span> </p>
              <p>Online: <span style="color:black; font-weight:bold;"><%- companies -%> </span> </p>
            </div>
            <div class="card-action" style="font-size: small;">
              <a href="/companys">View More</a> </br>
              <a href="/addcompany">Add Company</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-md-3">
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Campaigns</span>
              <p>Registered: <span style="font-weight: bold; color: black;"><%- campaigns -%> </span> </p>
              <p>Active: <span style="font-weight: bold; color: black;"><%- campaigns -%> </span> </p>
            </div>
            <div class="card-action" style="font-size: small;">
              <a href="/campaigns">View More</a></br>
              <a href="/addcampaign">Add Campaign</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-md-3">
    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Messages</span>
              <p>SMS:.<span style="font-weight: bold; color: black;"><%- messages -%> </span> </p>
              <p> Emails: <span style="font-weight: bold; color: black;"><%-emails-%></span></p>
            </div>
            <div class="card-action" style="font-size: small;">
              <a href="/messages">View More</a><br>
              <a href="/sentmessage">Sent Message</a>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<div class=row>

    <div class="col-md-3">
        <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Classes</span>
                  <p>Available<span style="color:black; font-weight:bold;"><%- classes -%> </span> </p>
                  <p>Active<span style="color:black; font-weight:bold;"><%- classes -%> </span> </p>
                </div>
                <div class="card-action" style="font-size: small;">
                  <a href="/classes">View More</a><br>
                  <a href="/addclass">Add Class</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Teachers</span>
                  <p>Registered.<span style="font-size: small; font-weight: bold;"><%- teachers-%> </span> </p>
                  <p>Verified.<span style="font-size: small; font-weight: bold;"><%- teachers-%> </span> </p>
                </div>
                <div class="card-action" style="font-size: small;">
                  <a href="/teachers">View More</a><br>
                  <a href="/addteacher">Add Teacher</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Students</span>
                  <p>Registered:<span style="color: black; font-weight: bold;"><%- students-%> </span> </p>
                  <p>Active:<span style="color: black; font-weight: bold;"><%- students-%> </span> </p>
                </div>
                <div class="card-action" style="font-size: small;">
                  <a href="/students">View More</a> <br>
                  <a href="/addstudent">Add Student</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Products</span>
                  <p>Available:<span style="color:black; font-weight: bold; "><%- products-%></span> </p>
                  <p>Offers:<span style="color:black; font-weight: bold; "><%- offers-%></span> </p>
                </div>
                <div class="card-action" style="font-size: small;">
                  <a href="/products">View More</a><br>
                  <a href="/addproduct">Add Product </a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>

<div class="footer">
    <%- include ('../templates/footer'); -%>
</div>